<style type="text/css">
.zain {
	background-color: #3F0;
	height: 960px;
	width: 1080px;
}
#irshad {
	background-color: #CF3;
	height: 100px;
	width: 1080px;
	color:#C00
}
#ibrahim {
	background-color: #036;
	height: 760px;
	width: 1080px;
}
</style>/* CSS Document */

